h1,h2,h3,h4,h5 {
    font-family: 'Josefin Slab', serif;
}
p {
    font-family: 'Josefin Sans', sans-serif;
}
a {
    color: white;
}
.first {
    background-color: #212121;
}

.scroll {
    position: absolute;
    bottom: 15px; /* Положение от нижнего края */
    right: 48%; /* Положение от правого края */
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

.hero-title {
    position: absolute;
    bottom: 50%; /* Положение от нижнего края */
    right: 23%; /* Положение от правого края */
    font-size: 60px;
    padding: 50px;
    color: #ffffff;
    z-index: 2;
}
.hero-image {
    background: #C5CAE9 url(../images/bottle.jpg) 50% 50% no-repeat;
    background-size: cover;
    filter: brightness(55%);
}

.hero-info {
    display: flex;
    justify-content: center;
    align-items: end;
    line-height: 25px;
    color: #ffffff;
}

.hero-info p {
    padding-bottom: 50px;
    width: 50%;
}

.two {
    background-color: #7C4DFF;
}
.two-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}
.two-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: start;
    color: #ffffff;
    padding-left: 70px;
}
.two-image {
    background: #C5CAE9 url(../images/two-screen.jpg) 10% 10% no-repeat;
    background-size: cover;
}
.facts {
    display: flex;
    align-items: center;
}
.facts>img {
    padding-right: 30px;
}
.facts-title{
    font-size: 1.3em;
}
.three {
    background-color: #3760a8;
}
.three-screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}
.three-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 100px;
}
.three-image {
    background: #C5CAE9 url(../images/wineyards.jpg) 70% 50% no-repeat;
    background-size: cover;
}
.four {
    background-color: #040048;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
.four-info {
    display: flex;
}
.four-info * {
    padding: 10px;
}