@charset "UTF-8";
a {
  text-decoration: none;
}

* {
  font-family: "Raleway", sans-serif;
}

.color-b {
  background-color: #80d8ff;
}

.color-db {
  background-color: #82b1ff;
}

.color-pr {
  background-color: #b388ff;
}

.color-pn {
  background-color: #ea80fc;
}

/*first setting end */ 
.container {
  height: 750px;
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
  opacity: 0.8;
  padding: 50px;
}

.image {
  background: #061e37 no-repeat url("../images/450035.jpg");
  background-size: cover;
}

.header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}
.header-nav li {
  list-style: none;
}
.header-nav li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.header-nav li a:hover {
  color: black;
}

.menu {
  margin: 0 35px;
}

.first-nav-link {
  margin-right: auto;
}

.end-nav-link {
  margin-left: auto;
  padding: 5px;
  border: 1px solid white;
}

.title {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 400px;
  color: white;
  margin-top: 160px;
}
.title .title-row-first h1 {
  margin: 0;
  width: 90%;
  font-size: 55px;
  font-weight: bold;
  line-height: 65px;
  text-transform: uppercase;
}
.title .title-row-first p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}
.title .title-row-first, .title .title-row-end {
  box-sizing: border-box;
  width: 50%;
}

.title-row-end {
  background: url("../images/player.png") no-repeat;
  background-size: contain;
}

.title-action button {
  width: 150px;
  height: 55px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #061e37;
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

#free {
  color: #061e37;
  background-color: white;
}

/*End first screen */
.container-offer {
  height: 700px;
}

.offer-title {
  margin: 100px auto 50px auto;
  text-align: center;
  width: 550px;
}
.offer-title h2 {
  font-size: 45px;
  font-weight: 400;
  margin: 0;
}
.offer-title h3 {
  color: #b0bec5;
  font-size: 25px;
  font-weight: 400;
}
.offer-title p {
  color: #b0bec5;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-rows: 500px;
}

.offer-row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  margin: auto 50px;
}
.offer-row img {
  margin-bottom: 20px;
}
.offer-row h3 {
  color: #061e37;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.offer-row p {
  color: #78909c;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.get-started {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  align-content: center;
  align-items: center;
}
.get-started a {
  padding: 1em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #1de9b6;
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.container-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 350px;
}

.services-stat {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.services-stat p {
  margin-left: 15px;
}

.services-info, .service-tabs {
  grid-column: 2/4;
}

.services-info-title {
  font-size: 45px;
  font-weight: 400;
  color: #061e37;
  text-align: center;
}

.services-info-desc {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #b0bec5;
  text-align: center;
}

.tab-title {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  margin: 0;
  padding: 10px 0;
}

.tab-title:hover {
  background-color: #faefe8;
}

.tab-title::after {
  content: "▼";
  float: right;
}

.tab-title-open::after {
  content: "▲";
  float: right;
}

.statistic::before {
  content: url(../images/trending_up.png);
  margin-right: 10px;
}

.inbox::before {
  content: url(../images/mail.png);
  margin-right: 10px;
}

.team::before {
  content: url(../images/group.png);
  margin-right: 10px;
}

.setting::before {
  content: url(../images/settings.png);
  margin-right: 10px;
}

.feed::before {
  content: url(../images/rss_feed.png);
  margin-right: 10px;
}

.tab-content {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}
.tab-content p {
  color: #061e37;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 20px;
  letter-spacing: 0.45px;
}

.is-hidden {
  display: none;
}

.review-container {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  background-color: #1de9b6;
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
  opacity: 0.95;
  color: white;
}

.review-button {
  border-radius: 5px;
  background-color: #061e37;
  padding: 1em;
  color: white;
}

.review > img {
  border-radius: 50%;
}

.column-review-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}
.column-review-info h3 {
  font-size: 45px;
  font-weight: 400;
}
.column-review-info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.column-review {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.review {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.review > p {
  margin-left: 10px;
  width: 530px;
  padding: 1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #ffffff;
  color: #78909c;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  line-height: 25px;
}

.contact-us {
  height: 660px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.contact-us h2 {
  color: #061e37;
  font-size: 45px;
  font-weight: 400;
}
.contact-us p {
  color: #061e37;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.contact-us form {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 50px 50px 200px 55px;
  gap: 30px;
}
.contact-us form textarea {
  grid-column: 1/3;
  border-radius: 5px;
  border: 1px solid #061e37;
  padding: 5px;
}
.contact-us form div {
  align-self: center;
}
.contact-us form a {
  height: 25px;
  width: 100px;
  padding: 0.8em;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #1de9b6;
  color: white;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  justify-self: end;
}
.contact-us form a::before {
  content: url(../images/mail.png);
  margin-right: 10px;
}
.contact-us form input[type=text] {
  border-radius: 5px;
  border: 1px solid #061e37;
  padding: 5px;
}

footer {
  margin-top: 50px;
  height: 300px;
  background-color: #061e37;
}

.footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 100px;
}
.footer-nav li {
  list-style: none;
}
.footer-nav li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.footer-nav li a:hover {
  color: black;
}

.footer-info {
  display: flex;
  height: 100px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.about-us {
  opacity: 0.5;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 10px;
}
.about-us a {
  color: white;
}

.social img {
  margin-right: 5px;
}

/*# sourceMappingURL=style.css.map */
